<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <section>
        <div class="width-max">
            <header>
                <h1>{lebenslage.name}</h1>
            </header>
        </div>
    </section>

    <f:render partial="Textbloecke" arguments="{textbloecke: lebenslage.data.textbloecke}"/>

    <aside>
        <div class="width-max">
            <div class="relations lebenslagenshow">
                <f:if condition="{lebenslage.data.lebenslagenbaum}">
                    <h2><f:translate key="lebenslage.assigned_life_situations"/></h2>
                    <f:render partial="Lebenslagen/LebenslagenTree" arguments="{lebenslagenTree: lebenslage.data.lebenslagenbaum}"/>
                </f:if>
            </div>

            <div class="relations lebenslagenshow">
                <f:if condition="{lebenslage.data.leistungen}">
                    <h2><f:translate key="lebenslage.data.related_verfahren"/></h2>
                    <f:render partial="Leistungen" arguments="{leistungen: lebenslage.data.leistungen}"/>
                </f:if>
            </div>
        </div>
    </aside>
</f:section>
</html>
