<f:layout name="default" />
<f:section name="main"><f:debug>{_all}</f:debug>
  <div class="grid_12 marginbottom">
    <h1>{organisationsEinheit.name}</h1>
  </div>
  <div class="grid_6 floatleft">
    <div class="gridright">
      <f:if condition="{organisationsEinheit.preamble}">
        <f:format.html>{organisationsEinheit.preamble}</f:format.html>
      </f:if>
      <f:render partial="Sections" arguments="{sections: beschreibungstext.sections}" />
      <f:render partial="OrganisationsEinheit/Leistungen" arguments="{leistungen: leistungen, leistungenDetailPid: settings.leistungen.pidOfDetailPage}" />
    </div>
  </div>
  <aside class="grid_6 floatleft">
    <div class="gridleft rulerbefore4">
      <f:render partial="OrganisationsEinheit/AnschriftUndKommunikation" arguments="{organisationsEinheit: organisationsEinheit}" />
    </div>
  </aside>

</f:section>
