<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:jw="http://typo3.org/ns/JWeiland/ServiceBw2/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:layout name="default" />

<f:section name="main">
	<!--TYPO3SEARCH_end-->
	<jw:widget.alphabeticalIndex detailPageUid="{settings.leistungen.pidOfDetailPage}"
															 titleField="name"
															 records="{leistungen}"
															 controller="Leistungen"
															 action="show"/>
	</f:section>
	<!--TYPO3SEARCH_begin-->
</html>
