<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:jw="http://typo3.org/ns/JWeiland/ServiceBw2/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:layout name="default" />

<f:section name="main">
	<!--TYPO3SEARCH_end-->
	<f:render
		partial="Utility/AlphabeticalIndex"
		arguments="{detailPageUid: settings.leistungen.pidOfDetailPage, titleField: 'name', sortedLetterList: '{sortedLetterList}', sortedRecordList: '{sortedRecordList}', controller: 'Leistungen', action: 'show'}"/>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
