<f:layout name="default" />
<f:section name="main">
  <f:debug>{_all}</f:debug>
  <div class="grid_12 marginbottom">
    <h1>{leistung.title}</h1>
  </div>
  <div class="grid_8 floatleft">
    <div class="gridright">
      <f:if condition="{leistung.preamble}">
        <f:format.html>{leistung.preamble}</f:format.html>
      </f:if>
      <f:render partial="Sections" arguments="{sections: leistung.sections}" />
    </div>
  </div>
  <aside class="grid_4 floatleft">
    <div class="gridleft">
      <f:render partial="Leistungen/ExterneFormulare" arguments="{externeFormulare: externeFormulare}" />
      <!-- todo: add Zuegehoerige Verwaltungsstellen -->
      <!-- todo: add Lebenslagen -->
    </div>
  </aside>
</f:section>
