<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <div class="stripedblocks">
        <section>
            <div class="width-max">
                <header>
                    <h1>{leistung.name}</h1>
                    <f:if condition="{leistung.data.textbloecke.0.typ} == 'preamble'">
                        <f:format.raw>{leistung.data.textbloecke.0.text}</f:format.raw>
                    </f:if>
                </header>
            </div>
        </section>
        <f:if condition="{leistung.data.formulare} || {leistung.data.prozesse}">
            <section>
                <div class="width-max">
                    <f:render partial="FormulareProzesse" arguments="{formulare: leistung.data.formulare, prozesse: leistung.data.prozesse}"/>
                </div>
            </section>
        </f:if>
        <f:if condition="{leistung.data.organisationseinheiten}">
            <section>
                <div class="width-max">
                    <h2><f:translate key="leistungen.organisationseinheiten.head"/></h2>
                    <f:render partial="Organisationseinheiten" arguments="{organisationseinheiten: leistung.data.organisationseinheiten}"/>
                </div>
            </section>
        </f:if>
        <f:render partial="Textbloecke" arguments="{textbloecke: leistung.data.textbloecke, exclude: 'preamble'}"/>
    </div>
</f:section>
</html>
