<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:jw="http://typo3.org/ns/JWeiland/ServiceBw2/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:layout name="default" />

<f:section name="main">
	<div class="stripedblocks">
		<section>
			<div class="width-max">
				<header>
					<h1>{leistung.name}</h1>
				</header>
			</div>
		</section>
		<f:render partial="Textbloecke" arguments="{textbloecke: leistung.textbloecke}"/>
		<f:if condition="{leistung.formulare} || {leistung.prozesse} || {leistung.organisationseinheiten}">
			<aside>
				<div class="width-max">
					<f:render partial="Formulare" arguments="{formulare: leistung.formulare}" />
					<f:render partial="Leistungen/Prozesse" arguments="{prozesse: leistung.prozesse}" />
					<f:if condition="{leistung.organisationseinheiten}">
						<h2><f:translate key="leistungen.organisationseinheiten.head" /></h2>
						<f:render partial="Organisationseinheiten" arguments="{organisationseinheiten: leistung.organisationseinheiten}" />
					</f:if>
				</div>
			</aside>
		</f:if>

	</div>
</f:section>
</html>
