<f:layout name="default" />
<f:section name="main">
  <div class="grid_12 marginbottom">
    <h1>{organisationseinheit.name}</h1>
  </div>
  <div class="grid_6 floatleft">
    <div class="gridright">
      <f:if condition="{beschreibungstext.preamble}">
        <f:format.html>{beschreibungstext.preamble}</f:format.html>
      </f:if>
      <f:render partial="Sections" arguments="{sections: beschreibungstext.sections}" />
      <f:render partial="Organisationseinheiten/Leistungen" arguments="{leistungen: leistungen, leistungenDetailPid: settings.leistungen.pidOfDetailPage}" />
      <f:render partial="Organisationseinheiten/Children" arguments="{children: children, detailPageUid: settings.organisationseinheiten.pidOfDetailPage}" />
    </div>
  </div>
  <aside class="grid_6 floatleft">
    <div class="gridleft rulerbefore4">
      <f:render partial="Organisationseinheiten/AnschriftUndKommunikation" arguments="{organisationseinheit: organisationseinheit, maps2DetailPageUid: settings.organisationseinheiten.maps2DetailPage}" />
    </div>
  </aside>
</f:section>
