<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:if condition="{formulare}">
	<div class="relations">
		<h2><f:translate key="formulare.head" /></h2>
		<ul class="no-bullets">
			<f:for each="{formulare}" as="formular">
				<li class="icon-text">
					<i class="fa fa-download fa-fw" aria-hidden="true"></i>
					<f:link.external title="{formular.name}" target="_blank" uri="{formular.url}">
						{formular.name}
					</f:link.external>
				</li>
			</f:for>
		</ul>
	</div>
</f:if>
</html>
