<f:for each="{anschrift}" as="anschriftItem">
  <f:if condition="{anschriftItem.type} == {type}">
    <dl class="{dlClass}">
      <dt>
        <f:translate key="organisations_einheit.anschrift.{type}"/>
      </dt>
      <dd>
        <f:if condition="{anschriftItem.strasse} && {anschriftItem.hausnummer}">
          {anschriftItem.strasse} {anschriftItem.hausnummer}
          <br/>
        </f:if>
        <f:if condition="{anschriftItem.postleitzahl} && {anschriftItem.ort}">
          {anschriftItem.postleitzahl} {anschriftItem.ort}
        </f:if>
        <f:if condition="{kommunikation}">
          <f:render partial="OrganisationsEinheit/Kommunikation"
                    arguments="{kommunikation: kommunikation, kanal: 'TELEFON'}"/>
          <f:render partial="OrganisationsEinheit/Kommunikation"
                    arguments="{kommunikation: kommunikation, kanal: 'FAX'}"/>
          <f:render partial="OrganisationsEinheit/Kommunikation"
                    arguments="{kommunikation: kommunikation, kanal: 'EMAIL'}"/>
        </f:if>
      </dd>
    </dl>
  </f:if>
</f:for>
