{namespace jw=JWeiland\ServiceBw2\ViewHelpers}
<f:for each="{anschrift}" as="anschriftItem">
  <f:if condition="{anschriftItem.type} == {type}">
    <dl class="{dlClass}">
      <dt>
        <f:translate key="organisationseinheit.anschrift.{type}"/>
      </dt>
      <dd class="{f:if(condition: '{anschriftItem.type} == \'HAUSANSCHRIFT\'', then: 'noborder grid_8 floatleft')}">
        <f:if condition="{anschriftItem.strasse} && {anschriftItem.hausnummer}">
          {anschriftItem.strasse} {anschriftItem.hausnummer}
          <br/>
        </f:if>
        <f:if condition="{anschriftItem.postleitzahl} && {anschriftItem.ort}">
          {anschriftItem.postleitzahl} {anschriftItem.ort}
        </f:if>
        <f:if condition="{kommunikation}">
          <f:render partial="Organisationseinheit/Kommunikation"
                    arguments="{kommunikation: kommunikation, kanal: 'TELEFON'}"/>
          <f:render partial="Organisationseinheit/Kommunikation"
                    arguments="{kommunikation: kommunikation, kanal: 'FAX'}"/>
          <f:render partial="Organisationseinheit/Kommunikation"
                    arguments="{kommunikation: kommunikation, kanal: 'EMAIL'}"/>
        </f:if>
      </dd>
      <f:if condition="{anschriftItem.type} == 'HAUSANSCHRIFT'">
          <f:render partial="Organisationseinheit/Maps2Poi"
                    arguments="{poiUid: '{jw:organisationseinheitPoiCollectionUid(id: \'{organisationseinheitId}\')}', detailPageUid: maps2DetailPageUid}"
          />
      </f:if>
    </dl>
  </f:if>
</f:for>
