<f:for each="{kommunikation}" as="item">
  <br />
  <f:switch expression="{item.kanal}">
    <f:case value="TELEFON">
      <span aria-hidden="true" class="icon-phone_pf"></span>{item.kennung}
    </f:case>
    <f:case value="FAX">
      <span aria-hidden="true" class="icon-fax_pf"></span>{item.kennung}
    </f:case>
    <f:case value="EMAIL">
      <span aria-hidden="true" class="icon-email"></span><f:link.email email="{item.kennung}"><f:translate key="organisations_einheit.mail"/></f:link.email>
    </f:case>
  </f:switch>
</f:for>
