<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:if condition="{externeFormulare}">
	<div class="relations">
		<h3><f:translate key="externe_formulare.head" /></h3>
		<ul class="items extul">
			<f:for each="{externeFormulare}" as="externesFormular">
				<li class="item extli">
					<f:link.external class="icon icon_download" title="{externesFormular.titel}" target="_blank" uri="{externesFormular.uri}">
						{externesFormular.titel}
					</f:link.external>
				</li>
			</f:for>
		</ul>
	</div>
</f:if>
</html>
