<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:if condition="{prozesse}">
	<div class="relations">
		<h2><f:translate key="prozesse.head" /></h2>
		<ul class="no-bullets">
			<f:for each="{prozesse}" as="prozess">
				<li class="icon-text">
					<i class="fal fa-browser fa-lg fa-fw" aria-hidden="true"></i>
					<f:link.external title="{prozess.name}" target="_blank" uri="{prozess.url}">
						{prozess.name}
					</f:link.external>
				</li>
			</f:for>
		</ul>
	</div>
</f:if>
</html>
